.header {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 60px; 
  background-color: #333; 
  color: white; 
  padding: 20px;
  border-bottom: 1px solid black;
  font-size: 24px; 
  font-weight: bold; 
}

.form-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: auto; 
  height: 130px;
}

.form-input-container {
  display: flex;
}

.form-right-container {
  padding: 20px; 
  max-width: 300px;
  border: 1px solid black;
  border-radius: 10px; 
  background-color: #f9f9f9; 
  margin: auto; 
  flex-grow: 1;
  height: 100% ;
}

.form-left-container {
  max-width: 800px;
  padding: 20px; 
  border: 1px solid black;
  border-radius: 10px; 
  background-color: #f9f9f9; 
  flex-grow: 1; 
  margin-right: 20px; 
  height: 100%;
}

.form-button-container {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.form-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.form-button:hover {
  background: linear-gradient(45deg, #2575fc, #6a11cb);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.form-button:active {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

.form-input {
  padding: 10px;
  max-width: 400px;
  font-size: 16px;
  border: 2px solid #2575fc;
  border-radius: 50px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 10px;
  flex: 1; 
}

.form-input:focus {
  border-color: #6a11cb;
}

.grocerylist {
  height: 25px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
